html {
    background: url('./img/bg.jpg');
}
body {
    font-family: Georgia;
    margin:20px 0px;
    padding:0px;
}
.content-wrapper {
    max-width: 740px;
    width:740px;
    margin:0 auto;
}
header,
.game-screen,
.main-screen {
    position: relative;
    width: 100%;
    float:left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:1px solid #333;
}
header {
    height: 100px;
    margin-bottom: 30px;
}
.game-screen {
    height: 730px;
}
.main-screen {
    height: 730px;
}
.game-header {
    width: 100%;
    float: left;
}
.player {
    float: left;
    margin-left: 35px;
}
.player h4 {
    margin: 5px 0;
}
.player.two h4 {
    text-align: right;
}
.player img {
    border: 4px solid Blue;
    width: 70px;
    float: left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.player.two {
    float: right;
    margin-right: 35px;
}
.clock {
    position: absolute;
    top: 0px;
    left: 340px;
}

.player.two img {
    border: 4px solid Red;
    float: right;
}
canvas {
    float: left;
    margin: -40px 145px 25px;
    width: 450px;
    height: 450px;
    z-index: 100;
}
.scores {
    float: left;
    margin-top: -360px;
    width: 100%;
    text-align: center;
}
.scores .block {
    width: 100px;
    float: left;
}
.scores .block h5 {
    margin-bottom: 90px;
}
.scores .block.two {
    float: right;
}
.chat-wrap input {
    float: left;
    margin-right: 10px;
}
.chat-wrap .send-message {
    border: 1px solid #000;
    background-color: #CCC;
    width: 200px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
    float: left;
    color: #333;
    font-weight: bold;
}
.chat-inner {
    margin-top: 15px;
    height: 130px;
    width: 720px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #EEE;
    float: left;
}
.chat {
    height: 130px;
    overflow-y: scroll;
    float: left;
    width: 100%;
}
.chat .chat-screen {
    float: left;
    margin: 0;
    list-style: none;
    padding: 0;
}
.count-down {
    position: absolute;
    font-size: 75px;
    width: 150px;
    top: 170px;
    left: 285px;
    text-align: center;
    color: Blue;
}
.blue {
    color: blue;
}
.red {
    color: Red;
}