 <configuration>
	<system.webServer>
	<handlers>
		<add name="iisnode" path="server.js" verb="*" modules="iisnode" watchedFiles="server.js;lib\social\lib\*.js" node_env="development" />
	</handlers>
	<rewrite>
		<rules>
			<rule name="server">
				<match url="social/*" />
				<action type="Rewrite" url="server.js" />
			</rule>
		</rules>
	</rewrite>
	<security>
		<requestFiltering>
			<hiddenSegments>
				<add segment="node_modules" />
			</hiddenSegments>
		</requestFiltering>
	</security>
	</system.webServer>
</configuration>